<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
        <%- include ('../partials/nav.ejs') %>
        <main>
            <div class="line"></div>
            <h1 class="script-font index-heading">Our Recipes</h1>
            <div class="line"></div>
            <form class="inline-form" action="/recipes/new" method="GET">
                <input class="new-input" type="submit" value="+ Add New Recipe"/>
            </form>
            <form class="inline-form sort-form" action="/recipes" method="GET">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text pink-label" for="inputGroupSelect01">Sort By</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="sortBy" onchange="if(this.value != 0) { this.form.submit(); }">
                        <option value="none" <% if (select === "none") { %> selected <% } %>>Choose Sort Option...</option>
                        <option value="mostRecent" <% if (select === "recent") { %> selected <% } %>>Most Recent</option>
                        <option value="recipeName" <% if (select === "alphabetically") { %> selected <% } %>>Recipe Name</option>
                    </select>
                </div>
            </form>
            <div class="flex-container">
                <% for(let i = 0; i < recipes.length; i++){ %>
                    <div class="flex-item recipe-container">
                        <a href="/recipes/<%=recipes[i]._id%>">
                            <img class="recipe-image" src="<%=recipes[i].image%>">
                        </a>
                        <div class="description-container">
                            <h3 class="recipe-name"><%=recipes[i].name%></h3>
                            <p class="recipe-description"><%=recipes[i].description.substring(0, 102) + "..."%></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </main>
        <%- include ('../partials/footer.ejs') %>    
	</body>
</html>