<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../partials/nav.ejs') %>
		<main>
            <!-- Script Making Functions for Adding Input Boxes Dynamically -->
            <script>
                // * I used this Stack Overflow article to figure this out: *
                // https://stackoverflow.com/questions/42015443/new-input-on-button-click/42015509

                // Variable Tracking How Many Ingredients Exist
                let ingredientCount = 0;
                let directionsCount = 0;

                // Function Adding Ingredient Input
                const addIngredientInput = () => {
                    ingredientCount++;
                    
                    let newDiv = document.createElement("div");
                    newDiv.setAttribute("id", "new-ingredient-" + ingredientCount + "-div");
                    newDiv.classList.add("form-group");
                    document.getElementById("new-add-new-ingredients").appendChild(newDiv);

                    let newInput = document.createElement("input");
                    newInput.setAttribute("type", "text");
                    newInput.setAttribute("name", "ingredient" + ingredientCount);
                    newInput.setAttribute("placeholder", "Ingredient");
                    newInput.setAttribute("id", "new-ingredient-" + ingredientCount + "-label");
                    newInput.classList.add("form-control");
                    newDiv.appendChild(newInput);
                };

                // Function Adding Directions Input
                const addDirectionInput = () => {
                    directionsCount++;

                    let newDiv = document.createElement("div");
                    newDiv.setAttribute("id", "new-direction-" + directionsCount + "-div");
                    newDiv.classList.add("form-group");
                    document.getElementById("new-add-new-directions").appendChild(newDiv);

                    let newInput = document.createElement("textarea");
                    newDiv.setAttribute("id", "new-direction-" + directionsCount + "-text-area");
                    newInput.setAttribute("rows", "3");
                    newInput.setAttribute("name", "direction" + directionsCount);
                    newInput.setAttribute("placeholder", "Direction");
                    newInput.classList.add("form-control");
                    newDiv.appendChild(newInput);
                };
            </script>
            
            <!-- HTML Elements for Main Portion of Page -->
            <div class="shorter-line"></div>
            <h1 class="index-heading script-font">Create New Recipe</h1>
			<div class="shorter-line"></div>

            <!-- Create Form -->
			<form class="input-form" action="/recipes" method="POST">
                <div class="form-group">
					<label for="recipeNameInput">Recipe Name</label>
					<input type="text" class="form-control" id="recipeNameInput" name="name" placeholder="Recipe Name">
				</div>
                <div class="form-group">
                    <label for="recipeChefName">Chef Name</label><br/>
                    <select class="custom-select" id="recipeChefName" name="chefID">
                        <% for(let i = 0; i < chefs.length; i++) { %>
                            <option value="<%=chefs[i]._id%>"><%=chefs[i].name%></option>
                        <% } %>
                    </select>
                    <p class="new-chef-p">Don't see your name? Add Yourself <a class="new-chef-a" href="/chefs/new">here</a>.</p>
                </div>
				<div class="form-group">
					  <label for="yieldInput">Yield</label>
					  <input type="text" class="form-control" id="yieldInput" name="yield" placeholder="Yield (In Servings)">
				</div>
                <label>Time</label>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                      <label class="sr-only" for="hoursInput">Hours</label>
                      <input type="number" class="form-control inline-form2" id="hoursInput" name="hours" min=0 placeholder="Hours">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="minutesInput">Minutes</label>
                        <input type="number" class="form-control inline-form2" id="minutesInput" name="minutes" min="0" max="59" placeholder="Minutes">
                    </div>
                </div><br/>
                <div class="form-group">
                    <label for="recipeImageInput">Image</label>
                    <input type="text" class="form-control" id="recipeImageInput" name="image" placeholder="Recipe Image URL">
                </div>
                <div class="form-group">
					<label for="recipeBio">Description</label>
					<textarea class="form-control" id="recipeBio" rows="3" name="description" placeholder="Type Description Here..."></textarea>
				</div>
                <div class="form-group">
					<label>Ingredients</label><br/>
                    <div id="new-add-new-ingredients"></div>
                    <input class="form-add" type="button" value="+ Add Ingredient" onClick="addIngredientInput()">
				</div>
                <div class="form-group">
					<label>Directions</label><br/>
                    <div id="new-add-new-directions"></div>
                    <input class="form-add" type="button" value="+ Add Direction" onClick="addDirectionInput()">
				</div>
                <input class="form-submit" type="submit" value="Create Recipe"/>
			</form>
		</main>
        <%- include ('../partials/footer.ejs') %>
	</body>
</html>