<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../partials/nav.ejs') %>
        <main>
            <div class="line"></div>
            <!-- Recipe Header -->
            <div class="recipe-heading">
                <h1 class="recipe-main-header"><%=recipe.name%></h1>
                <h2>By <a class="recipe-chef-link" href="/chefs/<%=chef._id%>"><%=chef.name%></a></h2>
                <!-- Edit and Delete Buttons -->
                <div class="modify-buttons-container">
                    <form class="inline-form" action="/recipes/<%=recipe._id%>/edit" method="GET">
                        <input class="show-input" type="submit" value="Edit"/>
                    </form>
                    <form class="inline-form" action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
                        <input class="show-input" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
            <div class="recipe-divider line"></div>
            <!-- Recipe Yield -->
            <% if (recipe.yield === "1") { %>
                <h3 class="recipe-small-header">Yield: 1 Serving</h3>
            <% } else { %>
                <h3 class="recipe-small-header">Yield: <%=recipe.yield%> Servings</h3>
            <% } %>
            <!-- Recipe Time -->
            <% if (recipe.time < 60) { %>
                <h3 class="recipe-small-header">Time: <%=recipe.time%> Minutes</h3>
            <% } else { %>
            <%      if (Math.floor(recipe.time / 60) === 1) { %>
                        <h3 class="recipe-small-header">Time: 1 Hour <%=recipe.time % 60%> Minutes</h3>
            <%      } else { %>
                        <h3 class="recipe-small-header">Time: <%=Math.floor(recipe.time / 60)%> Hours <%=recipe.time % 60%> Minutes</h3>
            <%      } %>
            <% } %>
            <!-- Recipe Image and Description -->
            <div class="recipe-description-container">
                <img src="<%=recipe.image%>">
                <p><%=recipe.description%></p>
            </div>
            <div class="recipe-divider line"></div>
            <!-- Recipe Ingredients -->
            <h3 class="recipe-subheader">Ingredients</h3>
            <ul class="recipe-ingredients-list">
                <% for (let i = 0; i < recipe.ingredients.length; i++) { %>
                    <input type="checkbox" id="<%=recipe.ingredients[i]%>" name="<%=recipe.ingredients[i]%>">
                    <label class="recipe-label" for="<%=recipe.ingredients[i]%>"><%=recipe.ingredients[i]%></label><br>
                <% } %>
            </ul>
            <div class="recipe-divider line"></div>
            <!-- Recipe Directions -->
            <h3 class="recipe-subheader">Directions</h3>
            <ul class="recipe-directions-list">
                <div class="light-line"></div>
                <% for (let i = 0; i < recipe.directions.length; i++) { %>
                    <h5 class="float-num"><%=i+1%></h5>
                    <p><%=recipe.directions[i]%></p>
                    <div class="light-line"></div>
                <% } %>
            </ul>
        </main>
        <%- include ('../partials/footer.ejs') %>      
	</body>
</html>