<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/recipes">Our Recipes</a>
					</li>
                    <li>
                        <a href="/recipes/new">Add New Recipe</a>
                    </li>
				</ul>
			</nav>
		</header>
        <main>
            <h1><%=recipe.name%></h1>
            <h2>By <a href="/chefs/<%=chef._id%>"><%=chef.name%></a></h2>

            <section>
                <form action="/recipes/<%=recipe._id%>/edit" method="GET">
                    <input type="submit" value="Edit"/>
                </form>
                <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </section>

            <% if (recipe.yield === "1") { %>
                <h3>Yield: 1 Serving</h3>
            <% } else { %>
                <h3>Yield: <%=recipe.yield%> Servings</h3>
            <% } %>
            <% if (recipe.time < 60) { %>
                <h3>Time: <%=recipe.time%> Minutes</h3>
            <% } else { %>
            <%      if (Math.floor(recipe.time / 60) === 1) { %>
                        <h3>Time: 1 Hour <%=recipe.time % 60%> Minutes</h3>
            <%      } else { %>
                        <h3>Time: <%=Math.floor(recipe.time / 60)%> Hours <%=recipe.time % 60%> Minutes</h3>
            <%      } %>
            <% } %>
            <p><%=recipe.description%></p>
            <img src="<%=recipe.image%>">

            <h3>Ingredients</h3>
            <ul>
                <% for (let i = 0; i < recipe.ingredients.length; i++) { %>
                    <li><%=recipe.ingredients[i]%></li>
                <% } %>
            </ul>

            <h3>Directions</h3>
            <ul>
                <% for (let i = 0; i < recipe.directions.length; i++) { %>
                    <li><%=recipe.directions[i]%></li>
                <% } %>
            </ul>
            
        </main>        
	</body>
</html>