<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../partials/nav.ejs') %>
		<main>
            <h1>Edit <%=chef.name%></h1>
			<form action="/chefs/<%=chef._id%>?_method=PUT" method="POST">
				<input type="text" name="name" value="<%=chef.name%>" placeholder="Name" /><br/>
                <input type="text" name="image" value="<%=chef.image%>" placeholder="Profile Picture URL" /><br/>
                <textarea name="bio" placeholder="Type Bio Here..."><%=chef.bio%></textarea><br/>
                <input type="submit" value="Submit Changes"/>
			</form>
		</main>
		<%- include ('../partials/footer.ejs') %>
	</body>
</html>