<!DOCTYPE html>
<html>
    <%- include ('../partials/head.ejs') %>
	<body>
		<%- include ('../partials/nav.ejs') %>
        <main>
            <h1><%=chef.name%></h1>
            <section>
                <form action="/chefs/<%=chef._id%>/edit" method="GET">
                    <input type="submit" value="Edit"/>
                </form>
                <form action="/chefs/<%=chef._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </section>  
            <img src="<%=chef.image%>">
            <p><%=chef.bio%></p>
            <h2>Recipes</h2>
            <% for (let i = 0; i < chef.recipes.length; i++) { %>
                <a href="/recipes/<%=chef.recipes[i]._id%>"><%=chef.recipes[i].name%></a>
            <% } %>
        </main>        
	</body>
</html>